<mat-grid-list cols="6" rowHeight="150px">
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "1">
        <mat-card class="card">
          <mat-card-content >
            <div class="title">
               Podium
            </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "1">
    <mat-card class="card">
      <mat-card-content >
        <div class="title">
          Position
        </div>
    </mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "3">
    <mat-card class="card side-card">
      <mat-card-content >
        <div class="title">
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
          Position
        </div>
    </mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "1">
    <mat-card class="card">
      <mat-card-content >
        <div class="title">
          Position
        </div>
    </mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "1">
    <mat-card class="card">
      <mat-card-content >
        <div class="title">
          Position
        </div>
    </mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "1">
    <mat-card class="card">
      <mat-card-content >
        <div class="title">
          Position
        </div>
    </mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    class="box" [colspan] = "2" [rowspan] = "1">
    <mat-card class="card">
      <mat-card-content >
        <div class="title">
          Position
        </div>
    </mat-card-content>
  </mat-card>
    </mat-grid-tile>
</mat-grid-list>
