
.mat-grid-list {
  position: relative;
  margin: 30px;
  .box{
    border-radius: 10px;
    display: flex;
    height: -webkit-fill-available;
    .card{
      background: white;
      height: 55%;
      width: 100%;
      margin: 10px;
      .title{
        float: left;
      }
    }
    .side-card{
      height: 85%;
    }
  }
}
