<div class="player-page">
    <div class="content">
        <img alt="Avatar" class="profile-img" 
        src="assets/images/players/avatar.jpg">
        <div class="info-top">
          <div class="info-top-in">
            <h1 class="name"> Angel Camacho</h1>
            <h1 class="number">#10</h1>
          </div>
          <h3 class="team">Arepa FC</h3>
          <div class="info-top-in">
            <h4>Goals: 2</h4>
            <h4>Assists: 1</h4>
            <h4>Yellow: 2</h4>
            <h4>Red: 1</h4>
          </div>
        </div>
        <div class="info-bottom">
            <h4>mail: angelcamacho1708@gmail.com</h4>
            <h4>phone: 01122506896</h4>
            <h4>Status: 2</h4>
        </div>
        <div class="info-bottom-2">
            <h4>Emergency contact: vale camacho</h4>
            <h4>phone: 01122506896</h4>
            <h4>Blood Type: B+</h4>
        </div>
      </div>
</div>