.card-list {
    display: inline-flex;
    flex-direction: row;
    width: 21%;
    margin-block-start: 10px;
    margin-inline-start: 10px;
    flex-flow: row wrap;
    margin: 13px;
    .card{
        display: block;
        padding: 15px;
        border-radius: 8px;
        width: 38%;
        margin-right: 26px;
        flex: 0 0 94%;
        text-align: center;
    }
    .line {
        -webkit-box-flex: 1;
        flex: 1;
        content: '';
        height: 1px;
        background: black;
        margin: 5px;
    }
    @media screen and (max-width: 618px) {
        .line{
            display: none;
        }
        .card{
            display: inline-flex;
        }
        .title{
            align-self: center;
        }
    }
}

/* Row Gap */
.card-list > *:not(:last-child) {
margin-bottom: 32px;
}

@media screen and (max-width: 618px) {
    .card-list{
      width: 91%;
    }
}
  