<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
        
      <div class="sidenav-content">
        <div class="first">
            <div class="team-logo">
                <img class="team-logo center-block img-responsive"
                [style.height.px]="130"
                [style.margin.px]="2"
                src="assets/images/teams/arepas.png">
              </div>
            <h4 class="team-name">
              {{ user?.team }}
            </h4>
            <div class="image">
              <img src="assets/images/players/PL0002.jpg" alt="Avatar" class="profile-img">
              <div class="line"></div>
            </div>
            <h4 class="player-name">
              {{ user?.email }}
            </h4>
            <mat-nav-list >
              <a mat-list-item [routerLink]="['/dashboard']" 
                routerLinkActive="active">
                <span class="list">Home</span>
              </a>
              <a mat-list-item [routerLink]="['/login']" routerLinkActive="active" >
                <span class="list">Tournament</span>
              </a>
              <a mat-list-item [routerLink]="['/']" routerLinkActive="active" >
                <span class="list">Fixture</span>
              </a>
              <a mat-list-item [routerLink]="['/team']" routerLinkActive="active" >
                <span class="list">Teams</span>
              </a>
              <a mat-list-item [routerLink]="['/']" routerLinkActive="active" >
                <span class="list">Player</span>
              </a>
              <a mat-list-item [routerLink]="['/']" routerLinkActive="active" >
                <span class="list">Information</span>
              </a>
            </mat-nav-list>
        </div>
    </div>
      <p class="second" >
        All stars Tournament addres 1234, city country phone: (351) 5555-555 mail: anfdas@gmail.com Copyright 2019.
      </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <img class="logo"
        src="assets\images\logo-wide.png">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="logOut()">
        <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
