<div class="team-detail">
    <div class="content">
        <img alt="Avatar" class="team-img" 
        src="assets/images/teams/{{team?.shield}}">
        <div class="info-top">
            <h3>Position 3rd</h3>
            <h3>Points 12</h3>
            <h3>Matches 8</h3>
            <h3>Won 3</h3>
            <h3>Draw 3</h3>
            <h3>Lost 2</h3>
            <div class="info-top-bottom">
                <h3>Goals made 11</h3>
                <h3>Goals recieved 7</h3>
                <h3>Yellow Cards 9</h3>
                <h3>Red Cards 2</h3>
            </div>
            <div class ="stats">
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
                <h5 class="box">W</h5>
            </div>
        </div>
    </div>
</div>