.team-detail {
    display: flex;
    justify-content: center;
    height: 25%;
    position: relative;
    flex-flow: wrap;
    .content {
        z-index: 1;
        display: flex;
        background: #fff;
        width: 736px;
        height: 155px;
        margin: 35px;
        border-radius: 10px;
        .team-img{
            height: 155px;
            border-radius: 10px;
            float: left;
        }
        .info-top{
            display: inline-flex;
            margin-left: 12px;
            margin-right: 12px;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap; 
        }
        .info-top-bottom{
            display: inline-flex;
            width: 100%;
            justify-content: space-around;
            margin: -41px;
        }
        .stats{
            display: inline-flex;
            width: 100%;
            justify-content: flex-end;
            .box{
                border-radius: 50%;
                height: 30px;
                width: 30px;
                text-align: center;
                font-size: larger;
                color:white;
                margin:2px;
            }
            .won{
                background:#1ebb52;
            }
            .lost{
                background: rgb(228, 54, 54) ;
            }
        }
        h5 {
            padding-top: 3px;
        }
    }
    .grid{
        z-index: 1;
        display: flex;
        background: #fff;
        width: 736px;
        height: 155px;
        border-radius: 10px;
    }
    .title{
        background: rgba(255, 255, 255, 0.644);
    }
}

